/* Portlets */

.portlet {
	margin-bottom: 15px;
	padding: 0;
}

.portlet > .ui-panel-titlebar {
	padding: 0.5em 1em;
	text-align: center;
	cursor: pointer;
	background: #ccc;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-weight: bold;
}

.portlet > .ui-panel-titlebar > .ui-panel-title {
	margin: 0;
}

.portlet > .ui-panel-content {
	overflow: scroll;
	padding: 0.5em 1em;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
}

.portlet > .ui-panel-content > .portlet-content {
	max-height: 300px;
}

.controls-hidden .portlet > .ui-panel-titlebar {
	display: none;
}

.controls-hidden .portlet,
.controls-hidden .portlet > .ui-panel-content {
	padding: 0;
	border: none;
}

.controls-hidden .portlet > .ui-panel-content > .portlet-content {
	max-height: inherit;
}

.ui-dashboard .ui-dashboard-column {
	float: none;
	padding-bottom: 0;
}

.ui-panel .ui-panel-titlebar-icon,
.ui-panel .ui-panel-titlebar-icon:hover,
.ui-panel .ui-panel-titlebar-icon:focus {
	margin-top: 0;
	margin-left: 5px;
}

body.dragging .ui-dashboard-column {
	background: #fcf8e3;
	padding: 15px;
	border-radius: 6px;
	min-height: 200px;
	margin-bottom: 20px;
}

body.dragging .portlet-placeholder {
	background: #eee;
	border-radius: 4px;
	height: 50px !important;
	width: 100%;
	margin-bottom: 15px;
}

body.dragging .ui-sortable-helper .panel-close-icon {
	display: none;
}

body.dragging .portlet.ui-sortable-helper {
	background: rgba(255, 255, 255, 0.5);
}

/* Dialog */

.ui-dialog {
	background: #fff;
	border-radius: 5px;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}

.ui-dialog .ui-dialog-titlebar {
	display: none;
}

.ui-dialog h3 {
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: 15px 20px;
	background: #eee;
	color: #555;
}

.ui-dialog form {
	padding: 15px 20px;
}

.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.5);
}