/* General */

.ui-widget {
	font-size: 1em;
}

.ui-widget-content {
	border: 0;
	width: auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	box-shadow: none !important;
}

/* Tree */

.ui-tree .ui-icon.ui-tree-toggler {
	vertical-align: middle;
}

/* Button groups */

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
	margin-left: -2px;
	margin-right: 1px;
}

/* UI Messages */

div.ui-messages ul {
	margin: 0 5px;
}

.ui-messages .ui-messages-error-icon,
.ui-messages .ui-messages-info-icon {
	display: none;
}

.ui-messages .ui-messages-error-summary,
.ui-messages .ui-messages-info-summary {
	font-weight: normal;
	margin: 0;
}

/* Datatable */

.ui-datatable table th.ui-state-default,
.ui-datatable table th.ui-state-hover,
.ui-datatable table th.ui-state-active {
	background: none;
}

.ui-datatable table thead th {
	text-align: left;
	border-right-width: 0;
	border-left-width: 0;
}

.ui-datatable table tr.ui-widget-content {
	border: 0;
}

.ui-datatable table tbody td {
	border: none;
	border-top: 1px solid #ddd;
	background: #fff;
}
