/* General */

.ui-widget {
	font-size: 1em;
}

.ui-widget-content {
	border: 0;
	width: auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	box-shadow: none !important;
}

/* Tree */

.ui-tree .ui-icon.ui-tree-toggler {
	vertical-align: middle;
}

/* Button groups */

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
	margin-left: -2px;
	margin-right: 1px;
}

button.ui-button {
	background-position: 0 !important;
}

/* UI Messages */

div.ui-messages ul {
	margin: 0 5px;
}

.ui-messages .ui-messages-error-icon,
.ui-messages .ui-messages-info-icon {
	display: none;
}

.ui-messages .ui-messages-error-summary,
.ui-messages .ui-messages-info-summary {
	font-weight: normal;
	margin: 0;
}

/* Datatable */

.ui-datatable table th.ui-state-default,
.ui-datatable table th.ui-state-hover,
.ui-datatable table th.ui-state-active {
	background: none;
}

.ui-datatable table thead th {
	text-align: left;
	border-right-width: 0;
	border-left-width: 0;
}

.ui-datatable table tr.ui-widget-content {
	border: 0;
}

.ui-datatable table tbody td {
	border: none;
	border-top: 1px solid #ddd;
	background: #fff;
}

.ui-datatable table tbody tr.ui-state-hover td {
	background: #f5f5f5;
	border-color: transparent;
}

.ui-datatable table tbody tr.ui-state-highlight td {
	background-image: -webkit-linear-gradient(top,#428bca 0,#3278b3 100%);
	background-image: linear-gradient(to bottom,#428bca 0,#3278b3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
	color: white;
	border-color: transparent;
}

/* Editor */

.ui-editor {
	border: 1px solid #ccc;
}

/* Dashboard */

.ui-dashboard .ui-dashboard-column {
	float: none;
}

/* Panel */

.ui-panel {
	border: 1px solid #eee;
	margin-bottom: 15px;
}

.ui-panel div.ui-panel-titlebar {
	padding: 0.3em 1em;
	text-align: center;
	cursor: pointer;
}

.ui-panel div.ui-panel-titlebar .ui-panel-title {
	margin: 0;
}

/* Code mirror */

div.CodeMirror-scroll {
	height: 200px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.has-error div.CodeMirror-scroll {
	border-color: #a94442;
}

/* Layout samples */

.layout-sample {
	padding: 0 5px;
}

.layout-sample .row > div {
	background: #eee;
	border: 1px solid #ddd;
	color: #eee;
	font-size: 0;
	height: 35px;
	padding: 0;
}

/* Select */
select.form-control {
	height: 34px;
}

/* Custom */

html, body {
	height: 100%;
}

body {
	padding-top: 50px;
}

.btn:focus {
	outline: none !important;
}

#control-panel {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
}

#control-panel .list-group {
	margin-top: 20px;
}

#push-footer {
	height: 60px;
}

#version-info {
	background-color: #f5f5f5;
}

#version-info p {
	margin:	20px 0;
}

.ui-icon.fa {
	text-indent: 0;
	background-image: none;
}

.controls-toggler {
	margin: 5px;
	color: #777;
}

/* Controls hidden */

.controls-hidden .portlet > .ui-panel-titlebar {
	display: none;
}

.controls-hidden .portlet,
.controls-hidden .portlet > .ui-panel-content {
	padding: 0;
	border: none;
}

body.dragging .ui-dashboard-column {
	background: #fcf8e3;
	padding: 5px;
	border-radius: 6px;
}

body.dragging .portlet-placeholder {
	background: #eee;
	border-radius: 4px;
	height: 50px !important;
	margin-bottom: 10px;
}

.fa-spin {
	margin-left: 5px;
	color: #777;
}

.panel-close-icon {
	background: none !important;
	margin-top: 0 !important;
}

/* Basic navigation */

.basic-navigation {
	margin-top: 25px;
}